VITE_FIREBASE_API_KEY=あなたのFirebase_API_KEY
VITE_FIREBASE_AUTH_DOMAIN=あなたのFirebase_AUTH_DOMAIN
VITE_FIREBASE_PROJECT_ID=あなたのFirebase_PROJECT_ID
VITE_FIREBASE_STORAGE_BUCKET=あなたのFirebase_STORAGE_BUCKET
VITE_FIREBASE_MESSAGING_SENDER_ID=あなたの Firebase_MESSAGING_SENDER_ID
VITE_FIREBASE_APP_ID=あなたのFirebase_APP_ID

VITE_GEMINI_API_KEY=あなたのGemini_API_KEY
